<div class="center-form form-title"><%= t("user_sessions.new.password_forget") %></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "center-form" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t("user_sessions.new.submit") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
