<div class="new-collection-container">
  <%= form_with(model: @collection, local: true) do |form| %>
    <div class="text-field">
      <%= form.text_field :title, placeholder: "タイトル名:15文字以内", class: "form-control mb-3" %>
    </div>

    <div class="text-field">
      <%= form.text_area :description, placeholder: "特集紹介:130文字以内", class: "form-control mb-3", rows: '5' %>
    </div>

    <div class="actions">
      <%= form.submit '作成する' %>
    </div>

    <div class="field">
      <%= form.label :movies %>
      <div class="collection-movies-container">
        <% @movies.each do |movie| %>
          <div class="collection-movie-item">
            <%= image_tag("https://image.tmdb.org/t/p/w200#{movie['poster_path']}", alt: movie.original_title, class: 'collection-movie-image') %>
            <%= form.check_box :movie_ids, { multiple: true }, movie.id, nil %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @add_movies.present? %>
      <div class="field">
        <%= form.label :movies %>
        <div class="collection-movies-container">
          <% @add_movies.each do |movie| %>
            <div class="collection-movie-item">
              <%= image_tag("https://image.tmdb.org/t/p/w200#{movie['poster_path']}", alt: movie.original_title, class: 'collection-movie-image') %>
              <%= form.check_box :movie_ids, { multiple: true }, movie.id, nil %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>