<div class="center-form">
      <h1>プロフィール編集</h1>  
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %> 
        </div>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :avatar,class: "form_label" %>
          <%= f.file_field :avatar, class: "form-control" %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <%= f.submit "更新", class: 'btn btn-primary' %>
      <% end %>
</div>