<div class="search-container">
  <div class="search-title">映画検索</div>
  <div class="search-field">
    <%= form_with url: search_path, method: :get, local: true do %>
      <%= text_field_tag :query, params[:query], placeholder: "タイトル名", style: "width: 300px;" %>
      <%= submit_tag "検索" %>
    <% end %>
  </div>
  <% unless @movies.nil? %>
    <ul class="movie-list">
      <% @movies.each do |movie| %>
        <li class="movie-item">
          <%= link_to movie_path(movie[:id]) do %> <!-- movie["id"]をmovie[:id]に修正 -->
            <%= image_tag("https://image.tmdb.org/t/p/w200#{movie[:poster_path]}", alt: "Movie Poster") %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= paginate @movies %>
  <% else %>
    <p>検索結果はありませんでした</p>
  <% end %>
</div>