<div class="d-flex flex-column flex-md-row movie-container">
  <div>
    <% if @movie.poster_path %>
      <div class="poster-container flex-column">
        <%= image_tag 'https://image.tmdb.org/t/p/w400' + @movie.poster_path, class: "img-thumbnail float-left" %>
      </div>
    <% end %>
  </div>
    
  <div class="col-md-8">
    <div class="mb-3 trailer-container">
      <% if @movie.youtube_trailer_id.nil? %>
        <p>予告がございません</p>
      <% else %>
        <iframe id="player" width="100%" height="360" 
          src="https://www.youtube.com/embed/<%= @movie.youtube_trailer_id %>?autoplay=1&mute=1&loop=1&playlist=<%= @movie.youtube_trailer_id %>&rel=0" 
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      <% end %>
    </div>
    <div class="mb-3">
      <h2><%= @movie.original_title %></h2>
    </div>
    <div class="mb-3 overview-container">
      <p><%= @movie.overview %></p>
    </div>
    <div class="mb-3 runtime-container">
      <% if @movie.nil_or_zero?(@movie.runtime) %>
        <p>すみません！時間がわかりませんでした！</p>
      <% else %>
        <p>Runtime: <%= @movie.runtime %> minutes</p>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="mb-3">
        <%= render 'favorites/favorite_button', movie: @movie %>
      </div>
    <% end %>
  </div>
</div>