<div class="movies-container">
  <%= form_with url: random_movies_path, method: :get, local: true, class: 'form-container', data: { turbo: false } do |f| %>
    <!-- 左上 -->
    <div class="form-group">
      <label>お好み</label><br>
      <%= f.radio_button 'keyword', 'now_playing', id: 'now_playing' %>
      <label for="now_playing">映画で上映中</label><br>
      <%= f.radio_button 'keyword', 'true_story', id: 'true_story' %>
      <label for="true_story">実話を元にした作品</label><br>
      <%= f.radio_button 'keyword', 'animation', id: 'animation' %>
      <label for="animation">アニメ作品</label>
    </div>
    <!-- 右上 -->
    <div class="form-group">
      <label>気分</label><br>
      <%= f.radio_button 'genre', 'action', id: 'action' %>
      <label for="action">スカッとしたい</label><br>
      <%= f.radio_button 'genre', 'comedy', id: 'comedy' %>
      <label for="comedy">笑いたい</label><br>
      <%= f.radio_button 'genre', 'mystery', id: 'mystery' %>
      <label for="mystery">考察しながら観たい</label><br>
      <%= f.radio_button 'genre', 'horror', id: 'horror' %>
      <label for="horror">ヒヤッとしたい</label><br>
      <%= f.radio_button 'genre', 'romance', id: 'romance' %>
      <label for="romance">キュンとしたい</label>
    </div>
    <!-- 左下 -->
    <div class='form-group'>
      <label>言語</label><br>
      <%= f.radio_button 'language', 'ja', id: 'ja' %>
      <label for="ja">邦画</label><br>
      <%= f.radio_button 'language', 'foreign', id: 'foreign' %>
      <label for="foreign">海外映画</label><br>
      <%= f.radio_button 'language', '', id: 'none' %>
      <label for="none">指定しない</label>
    </div>
      <!-- 右下 -->
      <div class="form-group">
        <label>時間指定</label><br>
        <%= f.radio_button 'selected_runtime', 'under_110', id: 'under_110' %>
        <label for="under_110">110分以内</label><br>
        <%= f.radio_button 'selected_runtime', 'over_111', id: 'over_111' %>
        <label for="over_111">111分以上</label><br>
        <%= f.radio_button 'selected_runtime', '', id: 'runtime_none' %>
        <label for="runtime_none">指定なし</label>
      </div>
    </div>
    <div class="submit-container">
      <%= f.submit '絞り込み' %>
    </div>
  <% end %>
</div>